<!DOCTYPE html>
<html lang="en">

<head>
    <title>Docs</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Bootstrap 4 Template For Software Startups">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- FontAwesome JS-->
    <script defer src="assets/fontawesome/js/all.min.js"></script>

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.2/styles/atom-one-dark.min.css">
    <link rel="stylesheet" href="assets/plugins/simplelightbox/simple-lightbox.min.css">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="assets/css/theme.css">

</head>

<body class="docs-page">
    <header class="header fixed-top">
        <div class="branding docs-branding">
            <div class="container-fluid position-relative py-2">
                <div class="docs-logo-wrapper">
                    <button id="docs-sidebar-toggler" class="docs-sidebar-toggler docs-sidebar-visible me-2 d-xl-none"
                        type="button">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="site-logo"><a class="navbar-brand" href="/">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="logo-text">DUMB<span
                                    class="text-alt">Docs</span></span></a></div>
                </div>
                <!--//docs-logo-wrapper-->
                <div class="docs-top-utilities d-flex justify-content-end align-items-center">
                    <div class="top-search-box d-none d-lg-flex">
                        <form class="search-form">
                            <input type="text" placeholder="Search the docs..." name="search"
                                class="form-control search-input">
                            <button type="submit" class="btn search-btn" value="Search"><i
                                    class="fas fa-search"></i></button>
                        </form>
                    </div>

                    <ul class="social-list list-inline mx-md-3 mx-lg-5 mb-0 d-none d-lg-flex">
                        <li class="list-inline-item"><a href="#"><i class="fab fa-github fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-slack fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fab fa-product-hunt fa-fw"></i></a></li>
                    </ul>
                    <!--//social-list-->
                    <a href="/api/"
                        class="btn btn-primary d-none d-lg-flex">Live Demo</a>
                </div>
                <!--//docs-top-utilities-->
            </div>
            <!--//container-->
        </div>
        <!--//branding-->
    </header>
    <!--//header-->


    <div class="docs-wrapper">
        <div id="docs-sidebar" class="docs-sidebar">
            <div class="top-search-box d-lg-none p-3">
                <form class="search-form">
                    <input type="text" placeholder="Search the docs..." name="search" class="form-control search-input">
                    <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <nav id="docs-nav" class="docs-nav navbar">
                <ul class="section-items list-unstyled nav flex-column pb-3">

                    <br>
                    <br>
                    <li class="nav-item section-title"><a class="nav-link scrollto active" href="#section-1"><span
                                class="theme-icon-holder me-2"><i class="fas fa-map-signs"></i></span>Introduction</a>
                    </li>

                    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-2"><span
                                class="theme-icon-holder me-2"><i class="fas fa-arrow-down"></i></span>Installation</a>
                    </li>

                    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-3"><span
                                class="theme-icon-holder me-2"><i class="fas fa-box"></i></span>Register user</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-3-1">Request URL</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-3-2">json body</a></li>


                    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-5"><span
                                class="theme-icon-holder me-2"><i class="fas fa-tools"></i></span>Login User</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-5-1">Request url</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-5-2">JSON body</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-5-3">auth-token</a></li>
                    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-6"><span
                                class="theme-icon-holder me-2"><i class="fas fa-laptop-code"></i></span>Access Private
                            Route</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-6-1">Admin route</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-6-2">User route</a></li>
                    <li class="nav-item"><a class="nav-link scrollto" href="#item-6-3">No access</a></li>
                    <li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-7"><span
                                class="theme-icon-holder me-2"><i class="fas fa-tablet-alt"></i></span>FAQs</a></li>


                </ul>

            </nav>
            <!--//docs-nav-->
        </div>
        <!--//docs-sidebar-->
        <div class="docs-content">
            <div class="container">
                <article class="docs-article" id="section-1">
                    <header class="docs-header">
                        <h1 class="docs-heading">Introduction <span class="docs-time">Last updated: 2019-06-01</span>
                        </h1>
                        <section class="docs-intro">
                            <p>This is a API based Authentication system. we are using JWT tokens to make things more
                                secure. to store the user data we are using mongodb, you can find a demo of how the api
                                works in <a href="https://localhost/api">here</a> this is a very secured Authentication
                                system will well done documentation ( sometimes companies hide endpoints ) but our code
                                is public </p>
                        </section>
                        <!--//docs-intro-->



                    </header>


                </article>

                <article class="docs-article" id="section-2">


                    <header class="docs-header">
                        <h1 class="docs-heading">Installation</h1>
                        <section class="docs-intro">
                            <p> Installation Process is very simple, you can install nodejs and mongodb to your server
                                and you can run with npm</p>
                        </section>


                        <div class="docs-code-block">
                            <!-- ** Embed github code starts ** -->
                            <script src="https://gist.github.com/dasithsv/f73dcb208d642edfb2189beecf6da731.js"></script>
                            <!-- ** Embed github code ends ** -->
                        </div>
                    </header>

                    <!--//section-->
                </article>
                <!--//docs-article-->


                <article class="docs-article" id="section-3">
                    <header class="docs-header">
                        <h1 class="docs-heading">register user</h1>
                        <section class="docs-intro">
                            <p>Section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                                finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit.
                                Donec eu purus sed nibh convallis bibendum quis vitae turpis. Duis vestibulum diam
                                lorem, vitae dapibus nibh facilisis a. Fusce in malesuada odio.</p>
                        </section>
                        <!--//docs-intro-->

                        <code class="json hljs">
							<br>
						    <span class="hljs-attr"><span class="hljs-string">&nbsp;&nbsp; POST http://localhost:3000/api/user/register
									<br>
 </span></span><br>


						
						</code>

                    </header>
                    <section class="docs-section" id="item-3-1">
                        <h2 class="section-heading">Example Json Body </h2>

                    </section>
                    <div class="docs-code-block">
                        <pre class="shadow-lg rounded"><code class="json hljs">
  {
	<span class="hljs-attr"><span class="hljs-attr">"name"</span></span>: <span class="hljs-string"><span
			class="hljs-string">"dasith"</span></span>,
	<span class="hljs-attr"><span class="hljs-attr">"email"</span></span>: <span class="hljs-string"><span
			class="hljs-string">"root@dasith.works",</span></span>
	<span class="hljs-attr"><span class="hljs-attr">"password"</span></span>: <span class="hljs-string"><span
			class="hljs-string">"Kekc8swFgD6zU"</span></span>
  }


</code></pre>
                    </div>
                    <!--//section-->

                    <section class="docs-section" id="item-3-2">
                        <h2 class="section-heading">responses</h2>
                        <p>Success</p>
                        <div class="docs-code-block">
                            <pre class="shadow-lg rounded"><code class="json hljs">
  {
	<span class="hljs-attr"><span class="hljs-attr">"user"</span></span>: <span class="hljs-string"><span
			class="hljs-string">"dasith"</span></span>,
  }

</code></pre>
                        </div>

                        <img src="https://raw.githubusercontent.com/dasithsv/API-Authentication-With-JWT/main/images/createacc.png"
                            alt="">

                    </section>
                    <!--//section-->


                    <!--//section-->
                </article>
                <!--//docs-article-->


                <article class="docs-article" id="section-5">
                    <header class="docs-header">
                        <h1 class="docs-heading">Login User</h1>
                        <section class="docs-intro">
                            <p>Section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                                finibus condimentum nisl id vulputate. Praesent aliquet varius eros interdum suscipit.
                                Donec eu purus sed nibh convallis bibendum quis vitae turpis. Duis vestibulum diam
                                lorem, vitae dapibus nibh facilisis a. Fusce in malesuada odio.</p>
                        </section>

                        <code class="json hljs">
							<br>
						    <span class="hljs-attr"><span class="hljs-string">&nbsp;&nbsp; POST http://localhost:3000/api/user/login

									<br>
 </span></span><br>


						
						</code>

                        <!--//docs-intro-->
                    </header>

                    <!--//section-->

                    <section class="docs-section" id="item-5-2">
                        <h2 class="section-heading">Example json Body</h2>
                        <div class="docs-code-block">
                            <pre class="shadow-lg rounded"><code class="json hljs"><br>
  {
	<span class="hljs-attr"><span class="hljs-attr">"email"</span></span>: <span class="hljs-string"><span
			class="hljs-string">"root@dasith.works"</span></span>,
	<span class="hljs-attr"><span class="hljs-attr">"password"</span></span>: <span class="hljs-string"><span
			class="hljs-string">"Kekc8swFgD6zU"</span></span>
  }


</code></pre>
                        </div>

                        <br><br>

                        <p></p>
                    </section>
                    <!--//section-->

                    <section class="docs-section" id="item-5-3">
                        <h2 class="section-heading">if success you get the auth-token </h2>
                        <p>You should send the auth-token in the header if you need to do vertify token</p>

                        <br>
                        <code class="json hljs">
							<br>
						    <span class="hljs-attr"><span class="hljs-string">eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2MTE0NjU0ZDc3ZjlhNTRlMDBmMDU3NzciLCJuYW1lIjoidGhlYWRtaW4iLCJlbWFpbCI6InJvb3RAZGFzaXRoLndvcmtzIiwiaWF0IjoxNjI4NzI3NjY5fQ.PFJldSFVDrSoJ-Pg0HOxkGjxQ69gxVO2Kjn7ozw9Crg



									<br>
 </span></span><br>


						
						</code>

                        <br><br>
                        <img src="https://raw.githubusercontent.com/dasithsv/API-Authentication-With-JWT/main/images/login.png"
                            alt="" style="max-width: 100%;">
                        <img src="https://raw.githubusercontent.com/dasithsv/API-Authentication-With-JWT/main/images/Screenshot%20from%202021-08-12%2006-16-38.png"
                            alt="">
                    </section>
                    <!--//section-->
                </article>
                <!--//docs-article-->


                <article class="docs-article" id="section-6">
                    <header class="docs-header">
                        <h1 class="docs-heading">Access Private Route</h1>
                        <section class="docs-intro">
                            <p>in this private route admin users can see if there admins , and normal users can see if
                                there normal and if you are not
                                authenticated you will get a error might get the web flag for admins :) </p>

                            <br>
                            <code class="json hljs">
							<br>
						    <span class="hljs-attr"><span class="hljs-string">&nbsp;&nbsp; GET http://localhost:3000/api/priv


									<br>
 </span></span><br>


						
						</code>
                        </section>
                        <!--//docs-intro-->
                    </header>
                    <section class="docs-section" id="item-6-1">
                        <h2 class="section-heading">auth-token ( JWT token got from login ) should be in header</h2>

                        <br>

                        <code class="json hljs">
							<br>
						    <span class="hljs-attr"><span class="hljs-string">auth-token :
							eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2MTE0NjU0ZDc3ZjlhNTRlMDBmMDU3NzciLCJuYW1lIjoidGhlYWRtaW4iLCJlbWFpbCI6InJvb3RAZGFzaXRoLndvcmtzIiwiaWF0IjoxNjI4NzI3NjY5fQ.PFJldSFVDrSoJ-Pg0HOxkGjxQ69gxVO2Kjn7ozw9Crg



									<br>
 </span></span><br>


						
						</code>
                    </section>
                    <!--//section-->

                    <section class="docs-section" id="item-6-2">
                        <h2 class="section-heading">if you are the admin you will get</h2>

                        <br>
                        <div class="docs-code-block">
                            <pre class="shadow-lg rounded"><code class="json hljs"><br>
	{
		"role": {
			"role": "you are admin",
			"desc": "this is only for admin"
		}
	}


</code></pre>
                        </div>

                        <br>
                        <img src="https://raw.githubusercontent.com/dasithsv/API-Authentication-With-JWT/main/images/adminrole.png"
                            alt="">

                    </section>
                    <!--//section-->

                    <section class="docs-section" id="item-6-3">
                        <h2 class="section-heading">If you are normal user</h2>

                        <br>
                        <div class="docs-code-block">
                            <pre class="shadow-lg rounded"><code class="json hljs"><br>
	{
		"role": {
			"role": "you are normal user",
			"desc": "user name"
		}
	}


</code></pre>
                        </div>

                        <br>
                        <img src="https://raw.githubusercontent.com/dasithsv/API-Authentication-With-JWT/main/images/rolenormaluser.png"
                            alt="">
                    </section>






                    <section class="docs-section" id="item-6-3">
                        <h2 class="section-heading">If you are not Verified</h2>

                        <br>
                        <div class="docs-code-block">
                            <pre class="shadow-lg rounded"><code class="json hljs"><br>
	Access Denied

</code></pre>
                        </div>

                        <br>
                        <img src="https://raw.githubusercontent.com/dasithsv/API-Authentication-With-JWT/main/images/noaccess.png"
                            alt="">
                    </section>
                    <!--//section-->
                </article>
                <!--//docs-article-->


                <article class="docs-article" id="section-7">
                    <header class="docs-header">
                        <h1 class="docs-heading">FAQs</h1>
                        <section class="docs-intro">
                            <p>Ask ur questions but we will never respond</p>
                        </section>
                        <!--//docs-intro-->
                    </header>
                    <section class="docs-section" id="item-7-1">
                        <h2 class="section-heading">seriously!!</h2>
                        <p>if you have a question please <a href="mailto:dasithsv@gmail.com">email me </a></p>
                    </section>
                    <!--//section-->




                    <!--//section-->
                </article>
                <!--//docs-article-->



                <footer class="footer">
                    <div class="container text-center py-5">
                        <small class="copyright">Created by &copy; <a href="https://dasith.works"
                                target="_blank">dasith.works</a></small>
                        <ul class="social-list list-unstyled pt-4 mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-github fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-slack fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-product-hunt fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram fa-fw"></i></a></li>
                        </ul>
                        <!--//social-list-->
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <!--//docs-wrapper-->


    <!-- Javascript -->
    <script src="assets/plugins/popper.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>


    <!-- Page Specific JS -->
    <script src="assets/plugins/smoothscroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script src="assets/js/highlight-custom.js"></script>
    <script src="assets/plugins/simplelightbox/simple-lightbox.min.js"></script>
    <script src="assets/plugins/gumshoe/gumshoe.polyfills.min.js"></script>
    <script src="assets/js/docs.js"></script>

</body>

</html>